.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #ddeefc;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  margin: auto;
  width: 450px;
  margin: auto;
  margin-top: 50px;
}

.card4 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.card3 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.card2 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.card1 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.container-card {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.card-container {
  width: 450px;
  height: 10px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card > section {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.addcardNumber {
  position: absolute;
  text-align: inherit;
  font-size: 2.3em;
  top: 115px;
  left: 40px;
  color: white;
}

.addcardHolderName {
  position: absolute;
  font-size: 1.5em;
  top: 208px;
  left: 95px;
  color: white;
}

.addValidMonth {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 80px;
  color: white;
}

.addvalidYear {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 53px;
  color: white;
}

.addcvc {
  position: absolute;
  font-size: 1.3em;
  top: 90px;
  right: 100px;
}

.addInputs {
  max-width: 580px;
  margin: auto;
  margin-top: 180px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 100%);
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.125);
  background-color: white;
}

.cardImg {
  background: linear-gradient(25deg, #999, #999);
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 50%);
  border-radius: 20px;
}

.addnumberImput {
  display: grid;
}

.card-label1 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 75px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input1 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addnameInput {
  display: grid;
}
.card-label2 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input2 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addDateAndCvc {
  display: flex;
  justify-content: space-between;
}

.expirationDate {
  display: flex;
  flex: 1;
}

.expirationMonth {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expirationYear {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-label3 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select1 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  margin-left: 55px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.card-label4 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select2 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addCvc {
  display: grid;
}

.card-label5 {
  justify-self: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input5 {
  width: 65%;
  margin-right: 40px;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input5:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addvendor {
  display: grid;
}

.card-label6 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select3 {
  width: 80%;
  justify-self: center;
  height: cal(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.6rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select3:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addbutton {
  display: grid;
  justify-self: center;
}

.submit-button {
  width: 80%;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-self: center;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.activeCardNum1 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 50px;
  color: white;
}

.activeCardNam1 {
  position: absolute;
  font-size: 1.3em;
  bottom: 10px;
  left: 100px;
  color: white;
}

.activeCardMonth1 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 75px;
  color: white;
}

.activeCardYear1 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 48px;
  color: white;
}

.activeCardcvc1 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum2 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 50px;
  color: white;
}

.activeCardNam2 {
  position: absolute;
  font-size: 1.3em;
  bottom: 10px;
  left: 100px;
  color: white;
}

.activeCardMonth2 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 75px;
  color: white;
}

.activeCardYear2 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 48px;
  color: white;
}

.activeCardcvc2 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum3 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 50px;
  color: white;
}

.activeCardNam3 {
  position: absolute;
  font-size: 1.3em;
  bottom: 10px;
  left: 100px;
  color: white;
}

.activeCardMonth3 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 75px;
  color: white;
}

.activeCardYear3 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 48px;
  color: white;
}

.activeCardcvc3 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum4 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 50px;
  color: white;
}

.activeCardNam4 {
  position: absolute;
  font-size: 1.3em;
  bottom: 10px;
  left: 100px;
  color: white;
}

.activeCardMonth4 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 75px;
  color: white;
}

.activeCardYear4 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 48px;
  color: white;
}

.activeCardcvc4 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.cardNumber4 {
  position: absolute;
  font-size: 2.3em;
  bottom: 95px;
  left: 50px;
  color: white;
}

.cardHolderName4 {
  position: absolute;
  font-size: 1.3em;
  bottom: 35px;
  left: 95px;
  color: white;
}

.validMonth4 {
  position: absolute;
  font-size: 1.2em;
  top: 257px;
  right: 75px;
  color: white;
}

.validYear4 {
  position: absolute;
  font-size: 1.2em;
  top: 257px;
  right: 48px;
  color: white;
}

.cvc4 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}
