.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #ddeefc;
}

ul {
  list-style-type: none;
}

.card4 {
  position: relative;
  text-align: center;
}

.card3 {
  position: relative;
  text-align: center;
  display: none;
}

.card2 {
  position: relative;
  text-align: center;
  display: none;
}

.card1 {
  position: relative;
  text-align: center;
  display: none;
}

.cardNumber4 {
  position: relative;
  font-size: 2em;
  bottom: 168px;
  left: 52px;
  color: white;
}

.cardHolderName4 {
  position: relative;
  font-size: 1.5em;
  bottom: 92px;
  right: 50px;
  color: white;
}

.validMonth4 {
  position: relative;
  font-size: 1.2em;
  bottom: 100px;
  left: 125px;
  color: white;
}

.validYear4 {
  position: relative;
  font-size: 1.2em;
  bottom: 122px;
  left: 160px;
  color: white;
}

.cvc4 {
  position: relative;
  bottom: 105px;
}

.cardNumber3 {
  position: relative;
  font-size: 2.6em;
  bottom: 130px;
  color: white;
}

.cardHolderName3 {
  position: relative;
  font-size: 1.3em;
  bottom: 90px;
  right: 110px;
  color: white;
}

.validMonth3 {
  position: relative;
  font-size: 1.2em;
  bottom: 105px;
  left: 110px;
  color: white;
}

.validYear3 {
  position: relative;
  font-size: 1.2em;
  bottom: 128px;
  left: 143px;
  color: white;
}

.cvc3 {
  position: relative;
  bottom: 115px;
}

.cardNumber2 {
  position: relative;
  font-size: 2.5em;
  bottom: 135px;
  color: white;
}

.cardHolderName2 {
  position: relative;
  font-size: 1.3em;
  bottom: 100px;
  right: 100px;
  color: white;
}

.validMonth2 {
  position: relative;
  font-size: 1.2em;
  bottom: 125px;
  left: 117px;
  color: white;
}

.validYear2 {
  position: relative;
  font-size: 1.2em;
  bottom: 147px;
  left: 149px;
  color: white;
}

.cvc2 {
  position: relative;
  bottom: 115px;
}

.cardNumber1 {
  position: relative;
  font-size: 2.2em;
  bottom: 164px;
  left: 40px;
  color: white;
}

.cardHolderName1 {
  position: relative;
  font-size: 1.3em;
  bottom: 98px;
  right: 125px;
  color: white;
}

.validMonth1 {
  position: relative;
  font-size: 1.2em;
  bottom: 125px;
  left: 148px;
  color: white;
}

.validYear1 {
  position: relative;
  font-size: 1.2em;
  bottom: 148px;
  left: 180px;
  color: white;
}

.cvc1 {
  position: relative;
  bottom: 110px;
}

.credit-card {
  max-width: 500px;
  max-height: 320px;
  margin: auto;
  z-index: 1;
  top: 80px;
  flex-wrap: wrap;
  position: relative;
}

.addcardNumber {
  position: relative;
  font-size: 2em;
  bottom: 200px;
  left: 55px;
  color: white;
}

.addcardHolderName {
  position: relative;
  font-size: 1.5em;
  bottom: 156px;
  right: 50px;
  color: white;
}

.addValidMonth {
  position: relative;
  font-size: 1.2em;
  bottom: 190px;
  left: 130px;
  color: white;
}

.addvalidYear {
  position: relative;
  font-size: 1.2em;
  bottom: 231px;
  left: 162px;
  color: white;
}

.addcvc {
  position: relative;
  bottom: 230px;
}

.addInputs {
  max-width: 580px;
  margin: auto;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 100%);
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.125);
  background-color: white;
}

.cardImg {
  background: linear-gradient(25deg, #999, #999);
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 50%);
  border-radius: 20px;
}

.addnumberImput {
  display: grid;
}

.card-label1 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 75px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input1 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addnameInput {
  display: grid;
}
.card-label2 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input2 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addDateAndCvc {
  display: flex;
  justify-content: space-between;
}

.expirationDate {
  display: flex;
  flex: 1;
}

.expirationMonth {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expirationYear {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-label3 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select1 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  margin-left: 55px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.card-label4 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select2 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addCvc {
  display: grid;
}

.card-label5 {
  justify-self: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input5 {
  width: 65%;
  margin-right: 40px;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input5:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addvendor {
  display: grid;
}

.card-label6 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select3 {
  width: 80%;
  justify-self: center;
  height: cal(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.6rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select3:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addbutton {
  display: grid;
  justify-self: center;
}

.submit-button {
  width: 80%;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-self: center;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.activeCardNum {
  position: relative;
  font-size: 2em;
  bottom: 196px;
  left: 50px;
  color: white;
}

.activeCardNam {
  position: relative;
  font-size: 1.3em;
  bottom: 170px;
  right: 75px;
  color: white;
}

.activeCardMonth {
  position: relative;
  font-size: 1.2em;
  bottom: 190px;
  left: 135px;
  color: white;
}

.activeCardYear {
  position: relative;
  font-size: 1.2em;
  bottom: 232px;
  left: 170px;
  color: white;
}

.activeCardcvc {
  position: relative;
  bottom: 200px;
}
