.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #ddeefc;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  margin: auto;
  width: 450px;
  margin: auto;
  margin-top: 30px;
  height: 5px;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.container:hover {
  transform: translate(0px, -25px);
}

.card4 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.card3 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.card2 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.card1 {
  max-width: 450px;
  max-height: 330px;
  margin: auto;
  position: relative;
  text-align: center;
}

.container-card {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.card-container {
  width: 450px;
  height: 10px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card > section {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.addCardNumber {
  position: absolute;
  text-align: inherit;
  font-size: 2.3em;
  top: 115px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.addCardHolderName {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.addValidMonth {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 70px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.addValidYear {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 43px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.addcvc {
  position: absolute;
  font-size: 1.3em;
  top: 90px;
  right: 100px;
  font-family: Consolas;
}

.addInputs {
  max-width: 580px;
  margin: auto;
  margin-top: 180px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 100%);
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.125);
  background-color: white;
}

.cardImg {
  background: linear-gradient(25deg, #999, #999);
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 70%);
  border-radius: 20px;
  margin-bottom: 150px;
}

.addNumberInput {
  display: grid;
}

.card-label1 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 75px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input1 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addNameInput {
  display: grid;
}
.card-label2 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input2 {
  width: 80%;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addDateAndCvc {
  display: flex;
  justify-content: space-between;
}

.expirationDate {
  display: flex;
  flex: 1;
}

.expirationMonth {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expirationYear {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-label3 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select1 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  margin-left: 55px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.card-label4 {
  justify-self: left;
  margin-left: 25px;
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select2 {
  height: calc(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select2:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addCvc {
  display: grid;
}

.card-label5 {
  justify-self: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-input5 {
  width: 65%;
  margin-right: 40px;
  justify-self: center;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-input5:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addVendor {
  display: grid;
}

.card-label6 {
  justify-self: left;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 14px;
}

.card-select3 {
  width: 80%;
  justify-self: center;
  height: cal(2.875rem + 2px);
  font-size: 1.25rem;
  padding: 0.6rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.card-select3:focus {
  color: #495057;
  background-color: #fff;
  border-color: #88bdff;
  outline: 0;
  box-shadow: 0 0 0.3rem rgb(0 123 255 / 100%);
}

.addButton {
  display: grid;
  justify-self: center;
}

.submit-button {
  width: 80%;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-self: center;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.submit-button:hover {
  background-color: #1645df;
}

.activeCard4 {
  max-width: 450px;
  max-height: 284px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 70%);
  transform-style: preserve-3d;
}

.activeCard4:after {
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  content: "";
  width: 200%;
  height: 280px;
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 80%
  );
  transform: translateX(-100%);
}

.activeCard4:hover {
  transform: rotateZ(-2deg);
}

.activeCard4:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}

.activeCard3 {
  max-width: 450px;
  max-height: 284px;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 70%);
}

.activeCard3:after {
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  content: "";
  width: 200%;
  height: 280px;
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 80%
  );
  transform: translateX(-100%);
}

.activeCard3:hover {
  transform: rotate3D(10, 0, -10, 5deg);
}

.activeCard3:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}

.activeCard2 {
  max-width: 450px;
  max-height: 284px;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 70%);
}

.activeCard2:after {
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  content: "";
  width: 200%;
  height: 280px;
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 80%
  );
  transform: translateX(-100%);
}

.activeCard2:hover {
  transform: rotate3D(10, 0, -10, 5deg);
}

.activeCard2:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}

.activeCard1 {
  max-width: 450px;
  max-height: 284px;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 70%);
}

.activeCard1:after {
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  content: "";
  width: 200%;
  height: 280px;
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 80%
  );
  transform: translateX(-100%);
}

.activeCard1:hover {
  transform: rotate3D(10, 0, -10, 5deg);
}

.activeCard1:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}

.activeCardNum1 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.activeCardNam1 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardMonth1 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 67px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardYear1 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 42px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardCvc1 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum2 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.activeCardNam2 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardMonth2 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 67px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardYear2 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 42px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardCvc2 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum3 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.activeCardNam3 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardMonth3 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 67px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardYear3 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 42px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardCvc3 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.activeCardNum4 {
  position: absolute;
  font-size: 2.3em;
  bottom: 55px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.activeCardNam4 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  left: 35px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardMonth4 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 67px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardYear4 {
  position: absolute;
  font-size: 1.2em;
  top: 218px;
  right: 42px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.activeCardCvc4 {
  position: absolute;
  top: 275px;
  right: 225px;
  display: none;
}

.cardNumber4 {
  position: absolute;
  font-size: 2.3em;
  bottom: 130px;
  left: 30px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 1px -1px 3px rgba(255, 255, 255, 1),
    -2px -2px 2px rgba(0, 0, 0, 0.9), -2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.cardHolderName4 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  left: 30px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.validMonth4 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 67px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.validYear4 {
  position: absolute;
  font-size: 1.2em;
  top: 237px;
  right: 42px;
  font-family: Consolas;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(0, 0, 0, 0.9), 0px -1px 2px rgba(255, 255, 255, 1),
    -2px -1px 2px rgba(0, 0, 0, 0.9), -2px 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}

.cvc4 {
  position: absolute;
  top: 275px;
  right: 225px;
  font-family: Consolas;
  display: none;
}

.e-wallet-h1 {
  font-size: 3em;
  margin-top: 10%;
  font-family: castellar;
}

.e-wallet-click-button {
  margin-top: 100px;
  width: 375px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.3em;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.e-wallet-click-button:hover {
  background-color: #1645df;
}

.add-card-button {
  margin-top: 10px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.add-card-button:hover {
  background-color: #1645df;
}

.active-card-h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: castellar;
}

.new-card-h2 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: castellar;
}

.inactive-card-h2 {
  margin-top: 80px;
  padding-top: 15px;
  font-family: castellar;
  border-top: 1px solid #bfddf7;
}

.wallet-full-p {
  font-size: 1.2em;
  margin-top: 30px;
  font-family: castellar;
}

.Remove-Card-Button {
  position: relative;
  left: 300px;
  top: 35px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 0 5px 10px 0 rgb(90 116 148 / 90%);
}

.Remove-Card-Button:hover {
  background-color: #1645df;
}
